body {
  background-color: #f3f3f3;
}

.cardapio {
  margin-top: 40px;

  padding: 20px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  .titulo {
    color: #b2533e;
    font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .grupo {
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #fff5e0;
    color: #b2533e;

    &:not(:first-of-type) {
      margin-top: 30px;
    }

    .grupo-titulo {
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 15px;
      font-weight: 600;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 10px;
      margin-top: 30px;

      .item-nome {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1;
      }

      .preco {
        font-weight: 500;
        font-weight: 1.125rem;
        line-height: 1;

        .decimais {
          font-weight: 300;
        }
      }
    }
  }
}
